$bg-color: #f1f1f1;
$primary-color: #ff7f11;
$orange-secondary: #ff8b30;
$orange-three: #ff7500;
$light-color: #fff;
$border-color: #ddd;
$ff-primary: "Poppins", sans-serif;

body {
  margin: 0px;
  font-family: Verdana, Geneva, sans-serif;
}
.detailOuter {
  background-color: #f2f2f2;
  padding: 25px;
  border-bottom: 1px solid #ccc;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.detailBox {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  position: relative;
}
.badge-switch-left {
  position: absolute;
  left: -43px;
  top: 148px;
}
.badge-switch-right {
  position: absolute;
  right: -45px;
  top: 148px;
}
.badge-switch-left,
.badge-switch-right {
  font-size: 45px;
  color: #ccc;
  text-decoration: none;
  text-shadow: 2px 2px 2px #000;
}

.detailPoster:hover {
  cursor: pointer;
  border-color: $primary-color;
}
.detailOverview {
  padding-top: 20px;
}
.detailField {
  font-size: 12px;
  margin-top: 2px;
}
.detailLabel {
  width: 115px;
  font-weight: bold;
  display: inline-block;
}
.detailContent {
  display: inline-block;
}
.detailText {
  width: 460px;
  vertical-align: top;
  padding: 20px;
}
.detailTitle {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 14px;
}
.detailHomepage {
  font-size: 11px;
  margin-top: 15px;
}
.detailHomepage a {
  color: $orange-secondary;
}
.detailHomepage a:hover {
  color: $orange-three;
}
.detailHomepage:hover {
}
.detailText,
.detailPoster {
  display: inline-block;
}

.tableOuter {
  font-style: italic;
  color: #ccc;
  text-align: center;
  width: 100%;
  padding-top: 60px;
}

// ---------- TABLE -------------

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");



@mixin break { //creating reusable styles to use in my small, medium and large break classes down below
  thead {
    display: none;
  }

  tr {
    display: block;
    margin-bottom: 5px;
  }

  td {
    display: block;
    position: relative; //Relative to the elements original position
    padding-left: 130px;
    text-align: left;
    border-bottom: 0;

    &:last-child {
      border-bottom: 1px solid $border-color;
    }

    &::before {
      content: attr(data-heading); // retrieving the value of data-heading attribute on td
      position: absolute; // element removed from flow, position is set below
      top: 0;
      left: 0;
      width: 120px; // setting width of side headings for when screen breaks to specified size
      height: 100%;
      display: flex;
      align-items: center;
      background-color: $primary-color;
      color: $light-color;
      font-size: 0.75rem;
      padding: 0 5px;
      justify-content: center;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: $ff-primary;
}

.header {
  padding: 50px 15px;
  background-color: $bg-color;
  text-align: center;
  margin-bottom: 40px;

  h1 {
    font-size: 40px;
    font-weight: 300;
  }
}

.table-container {
  width: 94%;
  margin: 0 auto 10px;

  &__title {
    background-color: $primary-color;
    color: $light-color;
    text-align: center;
    padding: 10px;

    h2 {
      font-size: 24px;
      font-weight: 300;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    thead {
      tr {
        background-color: transparent;
      }
    }

    td,
    th {
      border: 1px solid $border-color;
      padding: 10px;
      text-align: center;
    }

    tr {
      &:nth-child(even) {
        background-color: $bg-color;
      }
    }

    &--break-lg {
      @media (max-width: 991px) {
        @include break;
      }
    }

    &--break-md {
      @media (max-width: 767px) {
        @include break;
      }
    }

    &--break-sm {
      @media (max-width: 575px) {
        @include break;
      }
    }
  }
}
